

.boxResources {
    background-size: cover;
    background-repeat: no-repeat;
}

.resourcesText  {
    margin-bottom: 1rem;
    margin-left: 3rem;
    font-family: 'Gotham';
    font-style: normal;
    font-weight: 700;
    font-size: 4rem;
    line-height: 91px;
    color: #CC719E;
    padding-top: 2rem;
    
}


.bottom {
    position: absolute;
    align-items: last baseline;
    right: 0;
    max-height: 7.5rem;
    width: 100vw;
}


.peach3 {
    position: absolute;
    bottom: -95rem;
    right: 1rem;
    height: 16rem;
    width: auto;
}
