

.boxSummary {
    background-Image: url(../assets/bg2.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.summaryText  {
    margin-bottom: 1rem;
    margin-left: 3rem;
    font-family: 'Figtree';
    font-style: normal;
    font-weight: 700;
    font-size: 4rem;
    line-height: 91px;
    color: #fff;
    padding-top: 2rem;
    /* justpeachy */
}


.peach2 {
    position: absolute;
    bottom: -2rem;
    right: -3rem;
    height: 16rem;
    width: auto;
}









